html,body{
	width: 100%;
	height: 100%;
}
body {
	background-color: #eee;
}
.navbar{
	background-color: #23415c;
	padding: 1% 0;
	font-size: 1.2em;
}
.navbar-brand{
	min-height: 55px;
	padding: 2px 15px 5px 10px;
}
.navbar-default .navbar-nav li a{
	color: #d5d5d5;
}
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus,
.navbar-default .navbar-nav li a.active {
	color: #fff;
}

section {
	position: relative;
	width: 100%;
	height: 100%;
	display: table;
}
.home-wrap {
	clip: rect(0, auto, auto, 0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#home {
   background-image: url('img/mountains.jpeg');
	position: fixed;
	display: table;
	top: 0;
	left: 0;
	width: 100%;
   height: 100%;
   background-size: cover;
   background-position: center center;
   -webkit-transform: translateZ(0);
		 transform: translateZ(0);
   will-change: transform;
}
.landing-text {
   z-index: 100;
   display: table-cell;
   text-align: center;
   vertical-align: middle;
}
.landing-text h1 {
	font-size: 500%;
	font-weight: 700;
}
.landing-text button {
	margin: 10px 0;
}
.section1{
	background-color: #e7e7e7;
}
.padding {
	padding: 80px 0;
}
.padding img{
	padding-top: 15px;
	width: 100%
}
/* iOS Fixed Image Fix */
figure {
   position: relative;
   width: 100%;
   height: 60%;
}
.fixed-wrap {
   clip: rect(0, auto, auto, 0);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
#fixed {
   background-image: url('img/background.jpg');
   position: fixed;
   display: block;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-size: cover;
   background-position: center center;
   -webkit-transform: translateZ(0);
		 transform: translateZ(0);
   will-change: transform;
}

footer{
	width: 100%;
	background-color: #23415c;
	padding: 2% 3% 2% 3%;
	color: #fff;
}
footer h3{
	padding-bottom: 2%;
}
.fa {
	padding: 15px;
	font-size: 25px;
	color: #fff;
}
.fa:hover{
	color: #d5d5d5;
	text-decoration: none;
}
.icon{
	max-width: 180px;
}

@media (max-width: 768px){
	.landing-text h1{
		font-size: 300%;
	}
	.landing-text h3{
		font-size: 23px;
		padding: 0 8px;
	}
	footer h3{
		padding-bottom: 5px;
	}
	.fa {
		font-size: 20px;
		padding: 10px;
	}
	.icon{
		padding-top: 5%;
		padding-bottom: 8px;
		max-width: 100px;
	}
}

@media (min-height: 350px){
	.landing-text h1{
		padding-top: 6%;
		font-size: 300%;
	}
	#about img {
		max-width: 70%;
	}
	#services h4{
		font-size: 30px;
	}
	#services p{
		font-size: 20px;
	}
	#services img{
		padding: 0 10%;
		max-width: 90%;
	}
	.section1 img{
		max-width: 100%;
	}
	footer h3{
		padding-bottom: 5px;
	}
	.fa {
		font-size: 20px;
		padding: 10px;
	}
	.icon{
		padding-top: 5%;
		padding-bottom: 8px;
		max-width: 100px;
	}
}